body {
    background-image: url(https://marketplace.canva.com/EAFUFiGX5ek/1/0/1600w/canva-colorful-watercolor-floral-linktree-background-qRHfsd-4Nmc.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-between;
    background-color: rgb(50, 208, 50);
}

.home {
    color:whitesmoke;
}

.entreprise {
    color: whitesmoke;
}

.realisations {
    color: whitesmoke;

}

.contact {
    color: whitesmoke;
}
.nav-icon {
     display:flex;
     flex-direction: row; 
     align-items: center;
     gap: 10px;
}

.nav-icon img {
 max-width: 8%;
}

.service {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(50, 208, 50);
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    text-align: center;
    font-size:medium;

}
.description-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: space-around;
    width: 28%;
}
